# Default values for Ingest Controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: snappyflowml/ingest-controller
  tag: 10
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

serverPort: ":5000"

service:
  servicePort: 5000

external:
  enabled: false
  type: NodePort
  externalTrafficPolicy: Cluster

nodeSelector: {}

tolerations: []

affinity: {}

dataset-controller:
  service:
    servicePort: 5001

spark-manager:
  jobserver:
    service:
      servicePort: 5002

log-archival:
  service:
    servicePort: 5003

containerResources:
  ingestcontroller:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 50m
      memory: 100Mi
