# Default values for sf.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
monitor:
  image:
    repository: snappyflowml/monitor
    tag: 5
    pullPolicy: IfNotPresent
  containerResources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 50m
      memory: 100Mi

jobserver:
  image:
    repository: snappyflowml/job-server
    tag: 8
    pullPolicy: IfNotPresent
  serverPort: 5002
  service:
    servicePort: 5002
  sparkProperties:
    logDirectory: sparkhs/spark-hs
  containerResources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 50m
      memory: 100Mi

nameOverride: ""
fullnameOverride: ""

nodeSelector: {}

tolerations: []

affinity: {}
